<div id="company" class="company gap">
  <div class="company_banner">
    <img src="assets/icons/eurodns.svg" alt="Eurodns logo">
  </div>
  <p class="text margin">
    EuroDNS est l'entreprise principale du groupe Namespace. Fondée en 2002, cette société luxembourgeoise est située à
    Leudelange. Composée de 50 employés, elle sert une clientèle internationale et s'est imposée comme un acteur majeur
    dans l'enregistrement et la gestion de noms de domaine. En tant qu'intermédiaire entre les clients finaux et les
    registres de noms de domaine, EuroDNS facilite l'acquisition, le renouvellement et le transfert de noms de domaine.
  </p>
  <div class="company_stack margin">
    <div class="company_stack_item">
      <img src="assets/icons/user.svg" alt="user icon">
      <p>Titulaire</p>
      <p>Personne physique ou morale qui enregistre un nom de domaine</p>
    </div>
    <div class="company_stack_item">
      <img src="assets/icons/medal.svg" alt="user icon">
      <p>Registraire (EuroDNS)</p>
      <p>Accrédite par le registre pour gérer le domaine du titulaire</p>
    </div>
    <div class="company_stack_item">
      <img src="assets/icons/db.svg" alt="user icon">
      <p>Registre</p>
      <p>Stocke les enregistrements, y compris les serveurs de noms qui font autorité</p>
    </div>
  </div>
  <p class="text margin">
    L'entreprise propose également des services de protection de marque et de gestion de la propriété intellectuelle,
    aidant ainsi ses clients à protéger leurs actifs numériques. EuroDNS s'efforce de fournir des services de haute
    qualité, soutenus par une assistance technique disponible 24 heures sur 24 et 7 jours sur 7.
  </p>
</div>

