<div id="method" class="method margin gap">
  <h1 id="scrum" class="title title_xxl">Méthodologie SCRUM</h1>
  <div class="text">
    <p>
      Pour travailler de manière efficace et suivre l’avancement des demandes au sein de l’équipe, EuroDNS a adopté la
      méthode SCRUM agile.
    </p>
    <p>
      Chaque jour, des tickets, ou issues, sont créés et remontés via l'outil de gestion de projet Jira par divers
      acteurs
      de l’entreprise ainsi que ses partenaires. Les clients, l’équipe marketing, d’autres développeurs, et les
      entreprises partenaires du groupe Namespace peuvent soumettre des tickets dans Jira pour signaler des problèmes,
      demander de nouvelles fonctionnalités, ou suggérer des modifications aux projets en cours.
    </p>
  </div>
  <div class="screen">
    <img src="assets/images/jira_dashboard.jpg" alt="jira dashboard" class="screen_image">
    <p class="screen_caption">Tableau de bord de l’application Jira</p>
  </div>
  <p class="text">
    Chaque ticket comprend une description détaillée de la demande ou du problème et est attribué à un sprint
    spécifique, avec les informations nécessaires pour que l’équipe de développement puisse comprendre et traiter la
    demande efficacement. Ces tâches sont ensuite transférées sur un fichier Excel pour faciliter la communication entre
    les différents services et avoir une meilleure vision d’ensemble.
  </p>
  <div id="sprint" class="text">
    <h2 class="title title_xl">Structure des sprints</h2>
    <p>
      Les projets sont structurés en cycles appelés sprints, chacun durant deux semaines. Chaque sprint est identifié
      par
      un numéro spécifique tout au long de l’année, et chaque nouveau sprint commence par une planification détaillée où
      l’équipe se réunit pour définir les objectifs à atteindre, les tâches à accomplir, et les priorités. Par la suite,
      une réunion quotidienne appelée “daily” est organisée, généralement de 5 à 10 minutes, pour faire le point sur
      l’avancement de chacun.
    </p>
  </div>
  <div>
    <h2 class="title title_xl">Réunion de fin de sprint</h2>
    <div class="text">
      <p>Tous les quinze jours, une réunion est organisée au Luxembourg pour évaluer l’évolution des tâches et discuter
        des
        progrès réalisés. Lors de ces réunions, le SCRUM master commence par passer en revue les tâches accomplies et
        celles
        qui n'ont pas été terminées afin d’identifier les éventuelles erreurs ou mauvaises manipulations et de
        redistribuer
        les tâches si nécessaire. Chaque membre de l’équipe explique les raisons pour lesquelles une tâche n’a pas été
        finalisée et estime le temps qu’il lui faudra pour la terminer. Cette approche donne une vue d’ensemble de la
        situation actuelle.
      </p>
      <p>
        Dans certains cas, les tâches inachevées peuvent être annulées si cela est justifié. Cependant, la plupart des
        tâches sont réattribuées, souvent à la même personne pour le sprint suivant. Mais avant de procéder à
        l’attribution
        des tâches, celles-ci sont évaluées pour estimer leur difficulté. Pour simplifier ce processus, l’équipe utilise
        le
        poker planning.
      </p>
    </div>
  </div>
  <div class="method_poker text">
    <div id="poker" class="method_poker_text">
      <h2 class="title title_xl">Poker Planning</h2>
      <p>
        Chaque membre de l'équipe reçoit un jeu de cartes de poker planning, où chaque carte représente un nombre de
        points, qui sont généralement des valeurs de la suite de Fibonacci (0, 1/2, 1, 2, 3, 5, 8, 13, 20, 40, 100).
        Cette suite est choisie parce que les valeurs augmentent rapidement, ce qui aide à distinguer plus clairement
        les estimations pour des tâches de complexité plus élevée.
      </p>
      <h3 class="title title_l">Estimation Individuelle</h3>
      <p>
        Une fois qu'une user story est présentée, chaque membre de l'équipe réfléchit individuellement à la complexité
        et à l'effort nécessaire pour accomplir la tâche. Ils choisissent ensuite secrètement une carte de leur jeu qui
        représente leur estimation.
      </p>
      <p>
        Tous les membres révèlent leur carte en même temps. Cela évite que les estimations des uns influencent celles
        des autres.
      </p>
      <h3 class="title title_l">Discussion</h3>
      <p>
        Si les estimations sont proches, l'équipe peut rapidement arriver à un consensus. Toutefois, si les écarts sont
        importants (par exemple, certains membres ont choisi 3 alors que d'autres ont choisi 13), une discussion
        s'engage. Ceux qui ont estimé haut expliquent pourquoi ils pensent que la tâche est plus complexe, et ceux qui
        ont estimé bas expliquent leur raisonnement.
      </p>
      <h3 class="title title_l">Pourquoi ces Valeurs Spécifiques ?</h3>
      <div class="method_poker_text_list">
        <p>
          0 : La tâche est triviale ou déjà faite.
        </p>
        <p>
          1/2 : Tâche très simple, quasi négligeable.
        </p>
        <p>
          1, 2, 3 : Petites tâches, simples à modérément complexes.
        </p>
        <p>
          5, 8, 13 : Tâches de complexité moyenne à élevée, nécessitant plus de temps et d'efforts.
        </p>
        <p>
          20, 40, 100 : Tâches très complexes ou incertaines, qui peuvent nécessiter un découpage en sous-tâches.
        </p>
      </div>
      <p>
        Les valeurs exponentielles (basées sur Fibonacci) sont utilisées pour mieux refléter l'incertitude croissante
        avec la taille de la tâche. Plus une tâche est grande, plus il est difficile de l'estimer précisément, d'où
        l'écart plus important entre les nombres.
      </p>
    </div>
    <div class="screen">
      <img src="assets/images/poker_planning.jpg" alt="poker planning" class="screen_image">
      <p class="screen_caption">Déroulement d’un poker planning</p>
    </div>
  </div>
  <div>
    <h3 class="title title_l">Attribution des tâches</h3>
    <p class="text">
      Les tâches sont attribuées aux membres de l’équipe en fonction de leur disponibilité, de leurs compétences et du
      nombre de points qu’ils peuvent raisonnablement accomplir dans le sprint en cours. Cette attribution est flexible
      et
      peut être ajustée en fonction des progrès et des obstacles rencontrés.
    </p>
  </div>
  <div id="benefits">
    <h3 class="title title_l">Bénéfices</h3>
    <p>
      L’utilisation de la méthodologie Scrum chez EuroDNS offre plusieurs avantages significatifs à l’équipe, améliorant
      non seulement l’efficacité globale du processus de développement, mais aussi la qualité des résultats obtenus.
    </p>
  </div>
  <div class="method_profits">
    <div class="method_profits_item">
      <div class="method_profits_item_number">1</div>
      <div class="method_profits_item_text">
        <h3 class="title title_l">Amélioration de la Communication</h3>
        <div class="text">
          <p>
            L’un des principaux avantages de la méthodologie Scrum est l’amélioration notable de la communication au
            sein de l’équipe et avec les autres parties prenantes. Les réunions régulières, telles que les "daily",
            permettent à chaque membre de l’équipe de partager les progrès réalisés, les obstacles rencontrés et les
            tâches à venir. Cette communication ouverte et transparente permet d’aligner les objectifs de tous les
            membres de l’équipe, assurant ainsi que chacun comprend les priorités et les attentes du projet.
          </p>
          <p>
            L’utilisation de Jira comme outil de suivi ajoute une couche supplémentaire de transparence et de clarté.
            Chaque membre de l’équipe peut accéder aux détails des tâches en cours, vérifier l’avancement global du
            projet et identifier rapidement les goulots d’étranglement ou les problèmes potentiels. Cette visibilité
            facilite la coordination entre les différentes équipes et départements, réduisant les malentendus et les
            retards.
          </p>
        </div>
      </div>
    </div>
    <div class="method_profits_item no-line">
      <div class="method_profits_item_number">2</div>
      <div class="method_profits_item_text">
        <h3 class="title title_l">Flexibilité et Adaptation</h3>
        <div class="text">
          <p>
            Scrum est conçu pour être flexible et adaptable, ce qui est crucial dans un environnement technologique en
            constante évolution. La structure en sprints permet à l’équipe de se concentrer sur des objectifs à court
            terme, tout en restant capable de pivoter rapidement en fonction des nouvelles informations ou des
            changements de priorités. Cette capacité d’adaptation est renforcée par le poker planning, qui permet à
            l’équipe d’évaluer rapidement la complexité des nouvelles tâches et de les intégrer efficacement dans le
            flux de travail.
          </p>
          <p>
            Lorsque de nouvelles demandes ou des modifications sont introduites, l’équipe peut réévaluer et ajuster ses
            priorités pour s’assurer que les tâches les plus importantes sont traitées en premier. Cette agilité
            garantit que les besoins des clients sont satisfaits de manière efficace et que les projets restent alignés
            sur les objectifs stratégiques de l’entreprise.
          </p>
        </div>
      </div>
    </div>
    <div class="method_profits_item">
      <div class="method_profits_item_number">3</div>
      <div class="method_profits_item_text">
        <h3 class="title title_l">Efficacité Opérationnelle</h3>
        <div class="text">
          <p>
            La méthodologie Scrum contribue également à améliorer l’efficacité opérationnelle de l’équipe de
            développement. En attribuant des points à chaque tâche lors du poker planning, l’équipe peut estimer de
            manière réaliste la charge de travail et allouer les ressources en conséquence. Cette répartition des tâches
            basée sur les points disponibles assure une utilisation optimale des compétences de chaque membre de
            l’équipe, évitant la surcharge de travail ou la sous-utilisation des ressources.
          </p>
          <p>
            De plus, le processus de revue des tâches en fin de sprint permet à l’équipe d’évaluer son efficacité et
            d’identifier les domaines d’amélioration. Les leçons apprises sont ensuite intégrées dans le sprint suivant,
            ce qui contribue à un cycle d’amélioration continue. Cette approche proactive de la gestion de projet permet
            à EuroDNS de maintenir une productivité élevée et de fournir des résultats de haute qualité à ses clients.
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="text">
    En conclusion, l’intégration de la méthodologie Scrum dans les processus de travail d’EuroDNS a permis
    à l’équipe de développement de bénéficier d’une meilleure communication, d’une plus grande flexibilité, et d’une
    efficacité opérationnelle accrue. Ces améliorations se traduisent par une plus grande satisfaction des clients et
    une capacité à répondre rapidement aux défis et aux opportunités qui se présentent. Grâce à Scrum, EuroDNS est mieux
    équipée pour naviguer dans le paysage technologique dynamique et en constante évolution, tout en maintenant un
    niveau élevé de qualité et de performance.
  </p>
</div>
