<div class="link margin" id="link">
  <h1 class="title title_xxl_center">Liens Utiles</h1>

  <ul class="link_list">
    <li class="link_list_item"><a href="https://github.com/OoNeal/Internship" target="_blank">Dépôt GitHub</a></li>
  </ul>

  <h2 class="title title_xl_center">Établissements d'accueil</h2>
  <ul class="link_list">
    <li class="link_list_item"><a href="https://namespace.com" target="_blank">Page d'accueil Namespace</a></li>
    <li class="link_list_item"><a href="https://www.eurodns.com/" target="_blank">Page d'accueil EuroDNS</a></li>
    <li class="link_list_item"><a href="https://www.univ-lorraine.fr" target="_blank">Université de Lorraine</a></li>
  </ul>

  <h2 class="title title_xl_center">Documentation Technique</h2>
  <ul class="link_list">
    <li class="link_list_item"><a href="https://docs.cypress.io/" target="_blank">Documentation Cypress</a></li>
    <li class="link_list_item"><a href="https://angular.io/docs" target="_blank">Documentation Angular</a></li>
    <li class="link_list_item"><a href="https://spring.io/projects/spring-framework" target="_blank">Java Spring Framework</a></li>
  </ul>

  <h2 class="title title_xl_center">Outils utilisés</h2>
  <ul class="link_list">
    <li class="link_list_item"><a href="https://trello.com/" target="_blank">Trello (Gestion des tâches)</a></li>
    <li class="link_list_item"><a href="https://git-scm.com/doc" target="_blank">Git (Contrôle de version)</a></li>
    <li class="link_list_item"><a href="https://www.jenkins.io/" target="_blank">Jenkins (Outil CI/CD)</a></li>
    <li class="link_list_item"><a href="https://docs.docker.com/" target="_blank">Docker</a></li>
  </ul>

  <h2 class="title title_xl_center">Bonnes pratiques</h2>
  <ul class="link_list">
    <li class="link_list_item"><a href="https://docs.cypress.io/guides/references/best-practices" target="_blank">Bonnes pratiques Cypress</a>
    </li>
    <li class="link_list_item"><a href="https://restfulapi.net/" target="_blank">Directives REST API</a></li>
    <li class="link_list_item"><a href="https://www.baeldung.com/java-clean-code" target="_blank">Java clean code</a></li>
  </ul>

  <h2 class="title title_xl_center">Ressources d'apprentissage</h2>
  <ul class="link_list">
    <li class="link_list_item"><a href="https://www.freecodecamp.org/news/what-is-a-full-stack-developer/" target="_blank">Ressources pour
      Développement Full-Stack</a></li>
  </ul>

  <h2 class="title title_xl_center">Autres Références</h2>
  <ul class="link_list">
    <li class="link_list_item"><a href="https://www.codecademy.com/articles/what-is-crud" target="_blank">Explication des Opérations CRUD</a>
    </li>
    <li class="link_list_item"><a href="https://optinmonster.com/what-is-ab-testing/" target="_blank">Explication de l'A/B Testing</a></li>
  </ul>
</div>
