<div id="group" class="group">
  <div class="margin white_box gap">
    <h1 class="title title_xxl">Presentation</h1>
    <div class="group_text text">
      <img class="group_image" src="assets/icons/namespace.svg" alt="Namespace logo">
      <p>Namespace est un groupe de 300 employés, crée en 1998 spécialisés dans la gestion des noms de domaine et des
        services DNS. Basé en Belgique, il regroupe plus de 12 entreprises implantées dans le monde entier, dont
        EuroDNS.</p>
    </div>
    <div class="group_text text">
      <h2 class="title title_xl">Namespace labs</h2>
      <p>Namespace Labs est une filiale de Namespace créée en janvier 2023 située à Nancy. Elle permet au groupe de se
        concentrer sur des projets qui ont été mis de côté par manque d'importance mais qui restent tout de même
        intéressants. De plus, le choix a été fait de prendre des stagiaires provenant du BUT Informatique de Nancy par
        solidarité envers les étudiants de leur ancien lieu d'études.</p>
    </div>
  </div>
</div>
