<div id="intro" class="intro margin">
  <h1 class="title title_xxl">Introduction</h1>
  <div class="text">
    <p>Pour ma troisième et dernière année de BUT Informatique, j'ai choisi de suivre une formation en alternance afin d'acquérir une expérience professionnelle plus immersive. Cela m'a offert une véritable opportunité de mettre en pratique les connaissances théoriques acquises en cours, tout en bénéficiant d'une perspective différente de celle d'un stage, qui offre généralement moins de responsabilités et a une durée plus limitée.</p>
    <p>J'ai effectué mon apprentissage au sein de l'entreprise EuroDNS, où j'ai pu approfondir mes compétences en tant que développeur. J'ai participé à divers aspects du développement, allant des tests end-to-end à la mise en application de maquettes, en passant par l'intégration de la méthodologie SCRUM dans mon approche de travail. J'ai ainsi pu appliquer une grande partie des connaissances acquises au cours de mes années à l'IUT Nancy-Charlemagne.</p>
    <p>Dans ce rapport, je vous présenterai en détail la méthodologie de travail adoptée par l'entreprise, ainsi que les différents projets auxquels j'ai contribué, en précisant les technologies utilisées. Je discuterai également des problématiques rencontrées et des solutions que j'ai apportées. Enfin, je dresserai un bilan de mon expérience et j'évoquerai les perspectives d'avenir qui s'offrent à moi.</p>
  </div>
</div>
