<div class="fullstack" id="fullstack">
  <div class="fullstack_banner">
    <h1 class="fullstack_banner_text title title_xxl">Fullstack</h1>
  </div>
  <div class="fullstack_container margin">
  <h2 class="title title_xl">Contexte</h2>
  <p class="text">
    Après avoir terminé mes tâches sur Cypress, j'ai intégré l'équipe RD (Recherche et Développement). Cette équipe est
    dédiée à l'exploration de nouvelles technologies, à l'innovation, et à l'amélioration continue des processus
    internes. Néanmoins, j’ai eu la possibilité de travailler sur des tâches de tout type. Mon travail au sein de cette
    équipe a été varié, me permettant de toucher à plusieurs aspects différents des projets. Bien que j'aie été impliqué
    dans de nombreuses petites tâches, je vais me concentrer ici sur les plus explicites pour illustrer mon apport.
  </p>
  <h2 class="title title_xl">Intégration maquettes</h2>
  <h3 class="title title_l">Page d’accueil</h3>
  <p class="text">
    Suite à l'envoi d'une maquette pour la page d'accueil du site "https://www.eurodns.com/", j'ai dû apporter des
    modifications à son style pour répondre aux retours reçus. Cela impliquait d'ajuster les éléments visuels pour
    qu'ils correspondent mieux aux attentes en termes d'esthétique, d'ergonomie, et de cohérence avec l'identité de la
    marque. Ces ajustements ont permis d'optimiser l'apparence et la convivialité de la page d'accueil, assurant une
    meilleure expérience utilisateur.
  </p>
  <div class="screen">
    <img src="assets/images/eurodns_website.jpg" alt="eurodns website" class="screen_image">
    <p class="screen_caption">Page d’accueil du site Eurodns</p>
  </div>
  <h3 class="title title_l">Page de connexion</h3>
  <p class="text">
    De la même manière, j'ai également créé une nouvelle page d’inscription pour le site. Cette page est actuellement
    testée en A/B testing. L'A/B testing est une méthode de comparaison entre deux versions d'une page pour déterminer
    laquelle fonctionne le mieux en termes de performance, que ce soit pour l'ergonomie, les conversions, ou d'autres
    indicateurs clés. Dans ce processus, un groupe d'utilisateurs voit la version originale (version A) tandis qu'un
    autre groupe voit la version modifiée (version B). Les résultats sont ensuite analysés pour identifier la version la
    plus efficace, permettant ainsi d'optimiser continuellement l'expérience utilisateur.
  </p>
  <div class="screen">
    <img src="assets/images/eurodns_register.jpg" alt="eurodns website" class="screen_image">
    <p class="screen_caption">Nouvelle page d’inscription au site EuroDNS</p>
  </div>
  <div class="screen">
    <img src="assets/images/eurodns_login.jpg" alt="eurodns website" class="screen_image">
    <p class="screen_caption">Page similaire à l’ancienne page d’inscription</p>
  </div>
  <div class="text">
    <p>
      En plus de mes missions principales, j'ai été impliqué dans une multitude de petites tâches qui, bien que
      relativement courtes et simples à réaliser, ont joué un rôle crucial dans mon développement en tant que
      développeur FullStack. Ces tâches étaient souvent trop mineures pour être détaillées individuellement, mais elles
      m'ont offert l'occasion d'affiner mes compétences et de mieux comprendre les bonnes pratiques de développement.
    </p>
    <p>
      Parmi ces tâches, j'ai notamment travaillé sur la création de fonctionnalités CRUD (Create, Read, Update, Delete),
      qui sont les opérations fondamentales permettant de gérer les données au sein d'une application. Cette expérience
      m'a permis de consolider mes connaissances sur la manipulation efficace des données, en m'assurant que les
      opérations courantes comme la création, la lecture, la mise à jour et la suppression de données étaient réalisées
      de manière robuste et sécurisée.
    </p>
    <p>
      En parallèle, j'ai été amené à effectuer des mises à jour et du refactoring de code. Ce travail consistait à
      améliorer le code existant pour le rendre plus lisible, performant, et facile à maintenir, sans en modifier la
      fonctionnalité. Le refactoring m'a permis de développer un sens critique pour identifier les points d'amélioration
      dans le code et de comprendre l'importance de maintenir un code propre et bien structuré.
    </p>
    <p>
      J'ai également participé à l'ajout de nouvelles fonctionnalités sur une application dédiée au monitoring. Le
      monitoring est un aspect essentiel de la gestion des systèmes et applications, car il permet de surveiller en
      temps réel leur performance, leur disponibilité et leur santé générale. Grâce à ces tâches, j'ai appris comment
      mettre en place des outils de surveillance qui permettent de détecter rapidement les anomalies et de réagir avant
      qu'elles n'affectent les utilisateurs finaux.
    </p>
    <p>
      Ces petites interventions, bien que courtes en durée, ont été extrêmement formatrices. Elles m'ont permis de
      m'immerger dans différents aspects du développement, de renforcer mes compétences techniques, et de mieux
      comprendre l'importance de chaque étape dans le cycle de vie d'une application. En fin de compte, ces expériences
      ont largement contribué à améliorer mes capacités en tant que développeur FullStack, en me donnant une vision
      d'ensemble plus claire des bonnes pratiques à adopter dans le développement et la maintenance de logiciels.
    </p>
  </div>
</div>
</div>
