.mission {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &_box {
    border-radius: 30px;
    border-bottom: 1px solid #FFF;
    background: linear-gradient(99deg, rgba(53, 242, 66, 0.13) 0%, rgba(17, 12, 19, 0.15) 50%, rgba(255, 255, 255, 0.01) 100%);
    backdrop-filter: blur(20px);
  }

  &_text {
    margin-bottom: 30px;
  }
}
