<mat-sidenav-container class="">
  <mat-sidenav #sidenav class="sidenav" mode="side" position="end" opened="{{opened}}">
    <mat-nav-list>
      <a mat-list-item (click)="closeSidenav()">
        <mat-icon color="warn">close</mat-icon>
      </a>
      <div class="sidenav_content">
        <span class="sidenav_content_name title title_xl">{{ selectedTech?.name }}</span>
        <p class="text padding">{{ selectedTech?.description }}</p>
        <a href="{{ selectedTech?.link }}" target="_blank" class="link">En savoir plus</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="mission" class="mission margin">
      <h1 class="title title_xxl">Missions</h1>
      <div class="white_box mission_box">
        <h3 class="title title_l">Contexte</h3>
        <div class="text">
          <p class=" mission_text">
            EuroDNS, en tant qu'entreprise pionnière dans la gestion de noms de domaine, veille à ce que ses
            plateformes en ligne restent à la pointe de la technologie. Dans ce cadre, une décision stratégique a été
            prise
            pour migrer l’ensemble de leur site web vers le <span class="link" (click)="openSidenav('Framework')">framework</span>
            Angular. Ce processus de migration s’est déroulé en
            deux
            phases principales : d’abord une mise à jour vers Angular 14, suivie par une seconde mise à jour vers
            Angular
            17.
          </p>
        </div>
        <h3 class="title title_l">Angular 14</h3>
        <div class="text context_text">
          <p>
            La première étape de cette transformation a été la migration du site web vers Angular 14. Cette version a
            introduit plusieurs améliorations notables, telles qu’une meilleure gestion des formulaires, des
            performances
            optimisées et des outils de développement plus robustes.
          </p>
          <p>
            La migration vers Angular 14 a permis à EuroDNS de moderniser son codebase en profitant des nouvelles
            fonctionnalités offertes par le framework. Ce processus a impliqué une révision complète des composants
            existants, la mise à jour des dépendances, ainsi que l’implémentation de nouvelles pratiques de
            développement
            recommandées par Angular.
          </p>
        </div>
        <h3 class="title title_l">Angular 17</h3>
        <div class="text ">
          <p>
            Une fois la transition vers Angular 14 réussie, EuroDNS a poursuivi sa démarche d’amélioration continue en
            migrant
            son site web vers Angular 17. Cette version a apporté encore plus d’optimisations, notamment en termes de
            performances, de sécurité et de support pour les dernières technologies web.
          </p>
          <p>
            La mise à jour vers Angular 17 a été réalisée pour s’assurer que le site web reste compatible avec les
            dernières
            évolutions du web, tout en offrant une expérience utilisateur fluide et réactive. Cette migration a impliqué
            des
            ajustements supplémentaires du code, des tests rigoureux pour garantir la stabilité du site, et une
            formation
            continue des équipes de développement pour maîtriser les nouvelles fonctionnalités.
          </p>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
