<div id="thanks" class="thanks margin white_box">
  <div class="text">
    <p>Je tiens à exprimer ma gratitude envers toutes les personnes qui m’ont accompagné et soutenu durant toute ma
      période d’alternance. Grâce à leurs conseils judicieux, leur aide précieuse, et leur patience, j’ai pu progresser
      autant professionnellement que personnellement.</p>
    <p>Je souhaite adresser mes remerciements les plus sincères à M. Omar Eddasser pour son encadrement tout au long de
      cette alternance. Sa pédagogie et son engagement ont été déterminants dans ma progression.</p>
    <p>Je suis également reconnaissant envers l’entreprise EuroDNS pour m’avoir accueilli et fourni un espace de travail
      à Nancy. Leur soutien a été essentiel pour le développement efficace de mes compétences et de mes connaissances en
      tant que développeur professionnel.</p>
    <p>Je tiens aussi à remercier chaleureusement toutes les personnes qui ont relu et contribué à l'amélioration de ce
      rapport. Leurs suggestions et commentaires ont été d’une grande aide pour garantir la clarté et la qualité de mon
      travail.</p>
    <p>Enfin, j’exprime ma reconnaissance à mon professeur référent, M. Gérôme Canals, pour ses conseils avisés et sa
      disponibilité constante lors de la rédaction de ce rapport d’alternance. Son soutien a été inestimable pour mener
      ce projet à bien.</p>
  </div>
</div>
