<div id="home" class="home margin">
  <div class="home_title">
    <h1 class="home_title_text">Rapport d'alternance</h1>
    <h2 class="home_title_subtext">EuroDNS - 2023 / 2024</h2>
  </div>

  <div class="home_description">
    Ce rapport d’apprentissage restitue en détail l’expérience enrichissante
    et les compétences techniques et humaines que j’ai acquises au cours de mon alternance en Informatique.
    Il explore les projets auxquels j’ai contribué, les défis que j’ai relevés
    et les connaissances approfondies que j’ai développées tout au long de cette période
  </div>

  <a href="#thanks" class="home_button">
    Remerciements
    <img src="assets/icons/tall_arrow_down.svg" alt="arrow_down">
  </a>
</div>
