<div id="key" class="key margin">
  <div>
    <h2 class="title title_xl">
      Concept clés
    </h2>
    <h3 class="title title_l">Nom de domaine et adresse IP</h3>
    <div class="text info-dep_text">
      <p>
        Les noms de domaine sont essentiels pour identifier les dispositifs connectés à Internet en associant des
        adresses IP (Internet Protocol) à des chaînes de caractères plus simples et faciles à mémoriser. Les adresses
        IP, qui sont des séquences numériques comme "192.168.1.1", servent à localiser précisément un appareil sur le
        réseau, mais elles sont souvent trop complexes pour être facilement retenues par les utilisateurs. C'est là
        qu'interviennent les noms de domaine. Grâce au Domain Name System (DNS), un système de gestion de noms de
        domaine, ces noms sont automatiquement traduits en adresses IP.
      </p>
      <p>
        Voici comment cela fonctionne : lorsque vous saisissez un nom de domaine, comme "exemple.com", dans votre
        navigateur Web, le DNS se charge de trouver l'adresse IP qui correspond à ce nom. Il interroge plusieurs
        serveurs DNS jusqu'à ce qu'il localise l'adresse IP correcte, puis il établit une connexion avec le serveur Web
        hébergé à cette adresse. Cela permet au navigateur d'afficher la page Web demandée, tout en masquant la
        complexité des adresses IP sous-jacentes.
      </p>
    </div>
  </div>
  <div>
    <h3 class="title title_l">Enregistrement d’un domaine</h3>
    <div class="text info-dep_text">
      <p>
        L'enregistrement d'un nom de domaine nécessite l'intervention d'un registrar, et c'est précisément à ce niveau
        qu'EuroDNS intervient. En tant qu'entité accréditée par l'ICANN (Internet Corporation for Assigned Names and
        Numbers), l'organisation chargée de la gestion mondiale des noms de domaine, EuroDNS facilite l'ensemble du
        processus. Celui-ci débute par la vérification de la disponibilité du nom de domaine souhaité. Si le nom est
        disponible, l'utilisateur doit fournir des informations de contact, telles que son nom et son adresse, qui
        seront associées au nom de domaine. Une fois ces informations enregistrées et les frais correspondants réglés,
        le registrar transmet les données à l'ICANN.
      </p>
      <p>
        L'ICANN enregistre alors ce nom de domaine dans sa base de données mondiale, en l'associant à une adresse IP
        spécifique. Cette adresse IP sera utilisée chaque fois qu'un utilisateur saisira ce nom de domaine dans un
        navigateur, assurant ainsi que les visiteurs sont dirigés vers le site Web correct.
      </p>
    </div>
  </div>
</div>
