.techno {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &_title {
    text-align: center;
  }

  &_group {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &_item {
      width: 30%;
      height: 120px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      text-transform: uppercase;

      border-radius: 15px;
      border-right: 1px solid #FFF;
      border-bottom: 1px solid #FFF;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(300px);

      &:hover {
        cursor: pointer;
      }

      &_image {
        height: 90px;
      }

      &.duo {
        width: 45%;
      }
    }
  }
}
